/* GLOBALES */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
}

p{
    font-size: 1.2rem;
    font-weight: 500;
}

/* HEADER */
.logo {
    width: 105px;
}

.header-inicio{
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/odonto5.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative; /* para ubicar el botón */
}

.menu{
    padding: 2rem 2rem 2rem;
}

.navegacion a{
    text-decoration: none;
    color: #1d2c7b;
    font-size: large;
    font-weight: bold;
    margin-right: 2rem;
}

.navegacion a:hover{
    color: #38b6ff;
}

.header-texto{
    color: #1d2c7b;
    margin-top: 7rem;
    margin-left: 3rem;
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 1px 1px 2px gray;
}

.azul-sec{
    color: #38b6ff;
}

.boton-turno{
    background-color: #1d2c7b;
    border: none;
    color: white;
    padding: 15px 25px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;

    position: absolute;
    top: 80%;
    right: 5%;
}

.boton-turno:hover{
    background-color: #38b6ff;
    font-size: 18px;
}

.contenedor-boton{
    display: relative;
}

@media (max-width: 992px) {
    .nav-item {
      align-self: center;
    }

    .header-texto{
        margin-top: 0;
    }

    .boton-turno{
        top: 85%;
        right: 45%;
    }

    .footer p{
        font-size: 0.8rem;
    }

    .navbar-collapse.show {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 1rem;
    }
}

/* FOOTER */
.footer{
    background-color: #38b6ff8d;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer a{
    text-decoration: none;
}

.logo-footer {
    width: 80px;
    height: 45px;
}

/* INICIO */
.inicio-descripcion{
    text-align: center;
    margin: 5rem 8rem 4rem 8rem;
}

.titulo-medio{
    color: #1d2c7b;
    margin-bottom: 3rem;
    font-size: 2.5rem;
    font-weight: 700;
}

.inicio-seccion{
    text-align: center;
    margin: 3rem 8rem 4rem 8rem;
}

.contacto-iconos{
    display: inline-flex;
    text-align: center;
}

.card{
    border: none;
}

.card-item{
    padding: 1rem;
}

.card-item p{
    margin-top: 1.5rem;
}

/* PAGINAS */
.header-pages{
    background-color: white;
    height: 7rem;
    border-bottom: 2px solid #D5D8DC;
}

.menu-pages{
    display: flex;
    padding: 2rem 2rem 2rem 2rem;
    justify-content: space-between;
    align-items: center;
}

.titulo-principal{
    color: #1d2c7b;
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-weight: 700;
    text-align: center;
}

.main-paginas{
    text-align: center;
    margin: 3rem 12rem 12rem 5rem;
}

/* CONTACTO */
.contenedor-contacto{
    display: flex;
    align-items: center;
}

.contenedor-contacto p{
    margin-bottom: 0;
}

.btn-formulario{
    background-color: #1d2c7b;
    border: none;
    color: white;
    padding: 0.6rem;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.btn-formulario:hover{
    background-color: #38b6ff;
    font-size: 18px;
    color: white;
}
