@import "var";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    background-color: $grisclaro;

    p, label{
        font-size: 1.2rem;
        font-weight: 500;
    }
}