@import "var";

.inicio-seccion{
    text-align: center;
    padding: 2rem 1rem 4rem 1rem;

    .titulo-medio{
        color: $azuloscuro;
        margin-bottom: 3rem;
        font-size: 2.5rem;
        font-weight: 700;
        text-align: center;
    }

    .azul-sec{
        color: $azulclaro;
    }

    .card{
        border: none;
        border-radius: 5%;
        transition: transform 1.5s;
        background-color: $azultransparente;

        &:hover {
            transform: rotateY(360deg);
        }

        .card-item{
            padding: 1rem;

            .logo {
                width: 105px;
            }

            p{
                margin-top: 1.5rem;
            }
        } 
    }

    .contacto{
        p{
            margin-top: 1.5rem;
        }
    }
}

.fondo-azul{
    background-color: $azulfondo;
}

@media (max-width: 992px) {
    .inicio-seccion{
        .container{
            .card{
                .card-item{
                    .logo1{
                        width: 80px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .inicio-seccion{
        .texto-descripcion{
            margin-left: 3rem;
            margin-right: 3rem;
        }
    }
}