@import "var";

.inicio-seccion{
    text-align: center;
    padding: 2rem 1rem 4rem 1rem;

    .titulo-medio{
        color: $azuloscuro;
        margin-bottom: 3rem;
        font-size: 2.5rem;
        font-weight: 700;
        text-align: center;
    }

    .azul-sec{
        color: $azulclaro;
    }

    .card{
        border-radius: 5%;
        background-color: $azultransparente;
        text-decoration: none;

        .card-item{
            padding: 1rem;

            .logo {
                width: 105px;
            }

            p{
                margin-top: 1.5rem;
            }
        } 
    }

    
    .img-instalacion{
        border-radius: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }
    

    .contacto{
        p{
            margin-top: 1.5rem;
        }
    }
}

.fondo-azul{
    background-color: $azulfondo;
}

@media (min-width: 1024px) {
    .inicio-seccion{
        .texto-descripcion{
            margin-left: 3rem;
            margin-right: 3rem;
        }
    }
}