@import "var";

.main-paginas{
    .container{
        .imagen-nosotros{
            border-radius: 15px;
        }

        .row{
            h3{
                color: $azuloscuro;
                font-weight: 700;
            }
        }
    }
}