@import "var";

.header-pages{
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/instrumental.jpg);
    height: 18rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;

    .menu-pages{
        display: flex;
        padding: 2rem 2rem 2rem 2rem;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 105px;
    }

    .navegacion a{
        text-decoration: none;
        color: $azuloscuro;
        font-size: 1.3rem;
        font-weight: bold;
        margin-right: 2rem;
        text-shadow: 1px 1px 2px #ffffffc3;
    }
    
    .navegacion a:hover{
        color: $azulclaro;
        text-shadow: 1px 1px 2px #ffffffc3;
    }

    .titulo-principal{
        color: $azuloscuro;
        font-weight: 700;
        text-align: center;
        text-shadow: 1px 1px 2px gray;
        font-size: 3.5rem;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.main-paginas{
    min-height: calc(100vh - (77px + 288px));
    text-align: center;
}